.headerInner{
    width:125px; 
    height: 27px;
}

.posselogo{
    width: 100%;
    height: 100%;
}

/* .logo{
    width: 100%;
    height: 100%;
} */

.footerInner{
    width:200px; 
    height: 150px;
    margin: 0 auto;
}