header{
    display: flex;
    justify-content: space-between;
}
.headerInner{
    width:125px; 
    height: 27px;
}

.p-button{
 display: flex;
}

.posselogo{
    max-width: 100%;
    height: 100%;
}

.q-headerInner{
    position: relative;
}

.q-headerInner img {
    width: 1440px;
height: 320px;
}

.q-headerInner p {
    position: absolute;
    bottom: 165px;
    left: 220px;
    font-size: 18px;
    color: #EFF2F5;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: bold;
}

.q-headerInner span {
    position: absolute;
    bottom: 75px;
    left: 220px;
    font-size: 60px;
    color: #EFF2F5;
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: bold;
}

.q-heading{
display: flex;
flex-direction: column;
}